.container,
.container-fluid {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (max-width: 310px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}

// maijn style start here
.banner-area{
    position: relative;
}
.header-wrapper{
    padding-top: 80px;
}

.banner-wrapper{
    padding-top: 190px;
    padding-bottom: 260px;
    max-width: 500px;
}
.banner-content{
    h2{
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        display: flex;
        align-items: center;
        color: #211036;
        margin-bottom: 20px;
    }
    p{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        color: #211036;
        margin-bottom: 24px;
        strong{
            font-weight: 700;
        }
    }
    
}
a.header-logo img {
    max-width: 193px;
}
.banner-image-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    max-width: 720px;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.btn{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding:25px 80px;
    cursor: pointer;
}
.btn-theme{
    color: #FFFFFF;
    background: #FE678B;
    border: 1px solid #FE678B;
    border-radius: 48px;
    transition: .3s ease-in-out;
    &:hover{
        background-color: transparent;
        color: #FE678B;
    }
}
.mobile-show{
    display: none;
}
.mb-content{
    display: none;
}
@media only screen and (max-width: 1350px){
    .header-wrapper {
        padding-top: 40px;
    }
    .banner-wrapper {
        padding-top: 130px;
        padding-bottom: 170px;
    }
    .banner-image-wrap {
        max-width: 50%;
    }
}
@media only screen and (max-width: 1199px){
    .banner-content {
        padding-right: 50px;
    }
    .banner-wrapper {
        max-width: 50%;
    }
    .banner-content {
        h2 {
            font-size: 60px;
            line-height: 1.2;
        }
        p {
            font-size: 18px;
        }
    }
    .btn {
        font-size: 16px;
        padding: 20px 60px;
    }
}
@media only screen and (max-width: 991px){
    .banner-area {
        position: relative;
        overflow: hidden;
    }
    .banner-content h2 {
        font-size: 48px;
    }
}
@media only screen and (max-width: 767px){
    .mobile-show{
        display: block;
    }
    .m-banner-content , .banner-content h2 , .mb-content , .header-logo{
        padding: 0px 15px;
    }
    .btn {
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner-image-wrap {
        display: none;
    }
    .banner-area{
        .container{
            width: 100%;
            max-width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .header-wrapper {
        padding-top: 28px;
    }
    a.header-logo {
        display: block;
        text-align: center;
        img {
            max-width: 190px;
            margin: 0 auto;
        }
    }
    
    .banner-wrapper {
        max-width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 45px;
    }
    .banner-content {
        padding-right: 0px;
        h2{
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
            text-align: center;
            color: #211036; 
            max-width: 470px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
         p {
            display: none;
            &.mb-content{
                display: block;
                font-weight: 400;
                font-size: 20px;
                line-height: 1.6;
                text-align: center;
                color: #211036;
                max-width: 210px;
                margin: 0 auto;
                margin-bottom: 16px;
            }
        }
    }
    .m-banner-content{
        span{
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #211036;
            margin-bottom: 8px;
        }
        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: capitalize;
            color: #FE678B;
            margin-bottom: 15px;
            display: block;
        }
    }
    .m-banner-image{
        img{
            width: 100%;
        }
    }
    .btn {
        font-size: 20px;
        padding: 24px 80px;
    }
}

@media only screen and (max-width: 575px){
    .m-banner-content {
        span {
            font-size: 12px;
        }
    }
    .m-banner-content p {
        font-size: 12px;
    }
    .banner-content h2 {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 0px;
    }
    .banner-content p.mb-content {
        font-size: 14px;
    }
    .banner-content{
        span{
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .btn {
        font-size: 16px;
        padding: 24px 30px;
        max-width: 260px;
        width: 100%;
    }
    a.header-logo img {
        max-width: 137px;
    }
}
@media only screen and (max-width: 330px){
    
    .btn {
        font-size: 16px;
        padding: 24px 10px;
        max-width: 260px;
        width: 100%;
    }
}
//about area style here
.about-area {
    padding: 110px 0px 40px 0px;
    background: #F0FCFF;
    position: relative;
}
img.shape {
    max-width: 95px;
    top: -50px;
    left: 58px;
    position: absolute;
}
.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 50px;
}
.about-content{
    padding-top: 40px;
    h2{
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        color: #262626;
        margin-bottom: 75px;
    }
    ul{
        li{
            max-width: 445px;
            margin-bottom: 70px;
            &:last-child{
                margin-bottom: 0px;
            }
            h4{
                font-weight: 600;
                font-size: 42px;
                line-height: 51px;
                display: flex;
                align-items: center;
                color: #252525;
                margin-bottom: 20px;
            }
            p{
                font-weight: 500;
                font-size: 24px;
                line-height: 160%;
                color: #3D3D3D;
            }
        }
    }
}
.about-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    img{
        max-width: 410px;
    }
}

@media only screen and (max-width: 991px){
    .about-content h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
        max-width: 330px;
    }
    img.shape {
        max-width: 84px;
        top: -42px;
        left: unset;
        right: 25px;
    }
    .about-content {
        ul {
            li {
                margin-bottom: 50px;
                &:last-child{
                    margin-bottom: 0px;
                }
                h4 {
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 20px;
                    line-height: 1.6;   
                }
            }
        }
    }
    .about-image {
        justify-content: center;
        img {
            max-width: 315px;
        }
    }
}
@media only screen and (max-width: 767px){
    
    .about-image {
        justify-content: center;
        img {
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 575px){
    .about-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .about-area {
        padding: 64px 0px 40px 0px;
        background: #F0FCFF;
        position: relative;
    }
    .about-content {
        padding-top: 0px;
    }
    .about-content h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 36px;
        max-width: 100%;
    }
    img.shape {
        max-width: 60px;
        top: -30px;
        left: unset;
        right: 16px;
    }
    .about-content {
        ul {
            li {
                margin-bottom: 30px;
                h4 {
                    font-size: 24px;
                    line-height: 29px;
                }
                p{
                    font-size: 16px;
                    line-height: 1.6;   
                }
            }
        }
    }
    .about-image {
        justify-content: center;
        img {
            max-width: 380px;
        }
    }
   
}
@media only screen and (max-width: 390px){
    .about-image {
        justify-content: center;
        img {
            max-width: 100%;
        }
    }
}


// history-area style start here
.history-area{
    margin-top: 50px;
}
.history-wrapper{
    background: #FFF9C4;
    border-radius: 30px;
    padding: 70px 56px;
    position: relative;
}
img.h-shape {
    max-width: 146px;
    position: absolute;
    top: -46px;
    right: 85px;
}
.history-wrapper{
    h5{
        font-weight: 400;
        font-size: 22px;
        line-height: 125%;
        letter-spacing: 0.04em;
        color: #2B0062;
        margin-bottom: 33px;
    }
    h2{
        font-weight: 700;
        font-size: 46px;
        line-height: 136.02%;
        color: #2B0062;
        margin-bottom: 30px;
    }
    p{
        font-weight: 500;
        font-size: 24px;
        line-height: 165%;
        color: #2B0062;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
@media only screen and (max-width: 991px){
    section.history-area .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .history-area {
        margin-top:0px;
    }
    .history-wrapper {
        border-radius: 0px;
        padding: 64px 80px 160px;
    }
    .history-wrapper{
        h5 {
            font-size: 20px;
            margin-bottom: 24px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 24px;
        }
        p {
            font-size: 20px;
            margin-bottom: 50px;
        }
    }
    img.h-shape {
        max-width: 115px;
    }
}
@media only screen and (max-width: 767px){
    .history-wrapper {
        padding: 64px 40px 160px;
    }
}
@media only screen and (max-width: 575px){
    .history-wrapper {
        padding: 64px 30px 50px;
    }
    .history-wrapper{
        h5 {
            font-size: 16px;
            margin-bottom:16px;
        }
        h2{
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    img.h-shape {
        max-width: 88px;
        right: 27px;
        top: -27px;
    }
}

// letters-section style here
.letters-section{
    padding-top: 56px;
}
.letters-wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    justify-content: space-between;
    position: relative;
}
.letters-image {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    max-width: 556px;
    width: 100%;
}
.letters-content {
    padding-top: 80px;
    max-width: 700px;
    flex: 1;
    h2{
        font-weight: 700;
        font-size: 60px;
        line-height: 125%;
        color: #262626;
        margin-bottom: 58px;
    }
    p{
        font-weight: 500;
        font-size: 36px;
        line-height: 136.02%;
        color: #252525;
        margin-bottom: 70px;
    }
    ul{
        li{
            font-weight: 600;
            font-size: 40px;
            line-height:1.3;
            margin-bottom: 65px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
.source{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #959494;
    position: absolute;
    left: 0;
    bottom: 46px;
}
@media only screen and (max-width: 1350px){
    .letters-image {
        max-width: 40%;
        img{

            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 991px){
    .letters-section{
        padding-top: 76px;
    }
    .letters-wrapper {
        flex-direction: column;
        grid-gap: 0px;
    }
    .letters-content {
        padding-top:0px;
    }
    .letters-content {
        h2 {
            font-size: 40px;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: #252525;
            margin-bottom: 35px;
        }
        ul {
            li {
                font-size: 24px;
                margin-bottom: 35px;
            }
        }
    }
    .letters-image {
        max-width: 415px;
        z-index: -1;
        margin: -70px 0px auto auto;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 767px){
    .letters-image {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 575px){
    .letters-image {
        max-width: 247px;
        padding-right: 0px;
    }
    .letters-section {
        padding-top: 52px;
        overflow: hidden;
    }
    .letters-content {
        h2 {
            font-size: 30px;
            margin-bottom: 24px;
        }
        p{
            font-size: 16px;
            margin-bottom: 25px;
        }
        ul{
            li{
                font-size: 16px;
                margin-bottom: 25px;
            }
        }
    }
    .letters-image {
        margin: -45px -30px auto auto;
    }
    .source{
        bottom: 22px;
    }
}

// subscribe area style start here
.subscribe-area{
    padding: 105px 0px 100px;
    background: #F9EAFF;
}
.subscribe-wrapper{
    text-align: center;
    max-width: 1090px;
    margin: 0 auto;
    h3{
        font-weight: 700;
        font-size: 40px;
        line-height: 136.02%;
        text-align: center;
        color: #2B0062;
        margin-bottom: 40px;
        span{
            color: #FF05B9;
        }
    }
}
@media only screen and (max-width: 991px){
    .subscribe-area{
        padding: 88px 0px 79px;
    }
    .subscribe-wrapper{
        max-width: 675px;
        h3{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}
@media only screen and (max-width: 575px){
    .subscribe-area{
        padding: 64px 0px 75px;
    }
    .subscribe-wrapper{
        max-width: 100%;
        text-align: left;
        h3{
            font-size: 26px;
            text-align: left;
        }
    }
}

// footer area style here
.footer{
    padding: 15px 0px;
    background-color: #F0FCFF;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    a{
        display: flex;
        align-items:center;
        grid-gap: 8px;
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        span{
            display: block;
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            color: #000000;
        }
    }
}
.footer-content{
    a{
        font-weight: 400;
        font-size: 22px;
        line-height: 125%;
        color: #2B0062; 
    }
}

@media only screen and (max-width: 991px){
    .footer{
        padding: 24px 0px 20px;
    }
    .footer-wrapper{
        a {
            span {
                font-size: 16px;
            }
        }
    }
    .footer-content{
        a{
            font-size: 16px;
        }
    }
}
@media only screen and (max-width: 575px){
    .footer{
        padding: 15px 0px;
    }
    .footer-wrapper{
        a {
            span {
               display: none;
            }
        }
    }
}
@media only screen and (max-width: 430px){
    .about-image img {
        max-width: 100%;
    }
    .btn {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
    }
}